level1/node_modules
level1/package-lock.json

level2/node_modules
level2/.env
level2/package-lock.json

level3/node_modules
level3/package-lock.json

level4/node_modules
level4/package-lock.json

level5/node_modules
level5/.env
level5/package-lock.json